- proofs = account.identity_proofs.active
- fields = account.fields

.public-account-bio
  - unless fields.empty? && proofs.empty?
    .account__header__fields
      - proofs.each do |proof|
        %dl
          %dt= proof.provider.capitalize
          %dd.verified
            = link_to fa_icon('check'), proof.badge.proof_url, class: 'verified__mark', title: t('accounts.link_verified_on', date: l(proof.updated_at))
            = link_to proof.provider_username, proof.badge.profile_url

      - fields.each do |field|
        %dl
          %dt.emojify{ title: field.name }= prerender_custom_emojis(h(field.name), account.emojis)
          %dd{ title: field.value, class: custom_field_classes(field) }
            - if field.verified?
              %span.verified__mark{ title: t('accounts.link_verified_on', date: l(field.verified_at)) }
                = fa_icon 'check'
            = prerender_custom_emojis(html_aware_format(field.value, account.local?, with_rel_me: true, with_domains: true, multiline: false), account.emojis)

  = account_badge(account)

  - if account.note.present?
    .account__header__content.emojify= prerender_custom_emojis(html_aware_format(account.note, account.local?), account.emojis)

  .public-account-bio__extra
    = t 'accounts.joined', date: l(account.created_at, format: :month)
